<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="media">
        <h3>Atividade prática em laboratório<h3>
        <p><%= at_lab %></p>          
        <h3>Prova do semestre</h3>
        <p><%= prova %></p>          
        <h3>Trabalho Teórico</h3>
        <p><%= trabalho %></p> 
         <h3>Média</h3>
        <p><%= media %></p> 
        <h3>Classificação</h3>
        <p><%= mediaFinal %></p> 
    </div>
    <h2>A média do aluno é <%= media %> e sua classificação é <%= mediaFinal %> </h2>
</body>
</html>